@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}
li{
    transition: 300ms;
}
body{
  background-color: #252836;
  
}

